html {
    font-size: 50%;
}

body {
    font: 2rem/1.5 Lora, serif;
    margin: 0;
}

/* TODO: сделать нормально */
@media (max-width: 31.99em) {
    body {
        overflow-x: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 4rem;
    line-height: 6rem;
    padding-bottom: 3rem;
    position: relative;
    top: .9rem;
}

h2 {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 3rem;
    position: relative;
    top: -.3rem;
}

h3 {
    margin-top: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    position: relative;
    top: -2px;
}


main {
    margin: 0 3rem;
}

@media (min-width: 44em) {
    main {
        max-width: 78rem;
        margin: auto;
    }
}

@media (max-width: 31.99em) {
    #showmenu:checked ~ main::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.6);
        z-index: 2;
    }
}


p, ul, ol {
    margin: 0 0 3rem;
}

a, strong, em, i, b, code, span {
    line-height: .5;
}

a {
    color: #1485CC;
    text-decoration: none;
    background: linear-gradient(to right, rgba(28,148,198,.4), rgba(28,148,198,.4) 34%, #0e4a63 50%, #fc6d00 67%, #fc6d00) 0% 1.05em no-repeat;
    background-size: 300% 1px;
    padding-bottom: .3em;
    transition: all .5s ease;
}

a:hover, a:focus {
    background-position: 100% 1.05em;
}

code {
    font-family: 'Anonymous Pro', monospace;
    color: #600;
}

blockquote {
    margin: 0;
    padding: 0 3rem;
    background: linear-gradient(#F26E21,#F26E21) no-repeat 0 0, linear-gradient(#F26E21,#F26E21) no-repeat 100% 0;
    background-size: 3px calc(100% - .7rem);
}

iframe {
    display: block;
}


/*
     S I T E    H E A D E R
*/

.menu-button {
    width: 7rem;
    height: 9rem;
    background: #F26E21;
    display: block;
    margin: auto;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    border-radius: 1rem;
    z-index: 30;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: all .3s .2s, opacity .2s .3s;
    transform-origin: 50% 0;
    cursor: pointer;
}

@media (min-width: 32em) {
    .menu-button {
        opacity: 0;
        display: none;
    }
}

.menu-button::before, .menu-button::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 1em;
    width: 1em;
    bottom: 50%;
    border-radius: 50%;
}

.menu-button::before {
    box-shadow: #fff 0 0 1px, #fff 0 0.8em 0, #F26E21 0.5em 0.4em 0;
    left: -1em;
    clip: rect(0.5em, 1em, 1.5em, .7em);
}

.menu-button::after {
    box-shadow: #fff 0 0 1px, #fff 0 0.8em 0, #F26E21 -0.5em 0.4em 0;
    right: -1em;
    clip: rect(0.5em, 1em, 1.5em, -.7em);
    z-index: -1;
}

.logo-collapsed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.logo-collapsed span {
    line-height: 1em;
    transition: all .5s;
}

#showmenu:checked ~ .top-header .menu-button {
    transform: scale(5);
    opacity: 0;
    z-index: 9;
}

#showmenu:checked ~ .top-header .logo-collapsed__txt {
    transform: scale(.1);
    transition: all .2s;
}

#showmenu:checked ~ .top-header .logo-collapsed__c {
    transform: scale(2) translate(1ex, .5ex);
}

#showmenu:checked ~ .top-header .logo-collapsed__s1 {
    transform: scale(2) translate(0, 2ex);
}

#showmenu:checked ~ .top-header .logo-collapsed__s2 {
    transform: scale(2) translate(-1ex, -1ex);
}

.top-header {
    overflow-x: hidden;
    margin-top: 12rem;
}

@media (min-width: 32em) {
    .top-header {
        margin-top: 0;
    }
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    width: 36rem;
    margin: 2rem auto 3rem;
    background: #F26E21;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
    transform-origin: 50% 0;
    transform: scale(.1, .05);
    z-index: 10;
    transition: transform .25s .25s;
}

#showmenu:checked ~ .top-header .top-nav {
    transform: none;
}

@media (min-width: 32em) {
    .top-nav {
        width: 58rem;
        position: relative;
        transform: none;
        box-shadow: none;
        transition: none;
    }
}

@media (min-width: 50em) {
    .top-nav {
        width: 82rem;
        flex-wrap: nowrap;
    }
}

.top-nav::before, .top-nav::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 3em;
    width: 3em;
    bottom: 50%;
    border-radius: 50%;
}

.top-nav::before {
    box-shadow: #fff 0 0 1px, #fff 0 2.8em 0, #F26E21 1.5em 1.4em 0;
    left: -3em;
    clip: rect(1.5em, 3em, 4.5em, 2em);
}

.top-nav::after {
    box-shadow: #fff 0 0 1px, #fff 0 2.8em 0, #F26E21 -1.5em 1.4em 0;
    right: -3em;
    clip: rect(1.5em, 1em, 4.5em, -2em);
    z-index: -1;
}

.closemenu-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.closemenu-button::before, .closemenu-button::after {
    content: '';
    position: absolute;
    top: 1.8rem;
    width: 100%;
    border-bottom: solid .4rem #fff;
}

.closemenu-button::before {
    transform: rotate(45deg);
}

.closemenu-button::after {
    transform: rotate(-45deg);
}

@media (min-width: 32em) {
    .closemenu-button {
        display: none;
    }
}

/*
     **** **** ****
     *    *    *
     *    *    *
     *    **** **** - wide screens
     *       *    *
     *       *    *
     **** **** ****

         ****
         *
     *****
     *   ****
     * **** *
     * *    *       - narrow screens
     * * ****
     * ****
     **** *
          *
       ****
*/


.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    width: 38rem;
    --last-gap: 2rem;
    --c-row2: 4;
    --c-row4: 6;
    --c-row8: 10;
    --s1-row2: 6;
    --s1-row5: 9;
    --s1-row6: 10;
    --s1-row8: 12;
    --s1-column7: 4;
    --s1-column8: 5;
    --s1-column10: 7;
    --s2-row2: 2;
    --s2-row3: 3;
    --s2-row5: 5;
    --s2-row6: 6;
    --s2-row7: 7;
    --s2-column12: 6;
    --s2-column13: 7;
    --s2-column15: 9;
    grid: 2rem repeat(11, 4rem) 4rem / 2rem repeat(8, 4rem) var(--last-gap);
}

@media (min-width: 32em) {
    .nav-list {
        width: 59.6rem;
        grid: 2rem repeat(7, 4rem) 2rem / 2rem repeat(4, 4rem) 1fr repeat(4, 4rem) 1fr repeat(4, 4rem) var(--last-gap);
        --c-row2: 2;
        --c-row4: 4;
        --c-row8: 8;
        --s1-row2: 2;
        --s1-row5: 5;
        --s1-row6: 6;
        --s1-row8: 8;
        --s1-column7: 7;
        --s1-column8: 8;
        --s1-column10: 10;
        --s2-row2: 2;
        --s2-row3: 3;
        --s2-row5: 5;
        --s2-row6: 6;
        --s2-row7: 7;
        --s2-column12: 12;
        --s2-column13: 13;
        --s2-column15: 15;
    }
}

@media (min-width: 50em) {
    .nav-list {
        --last-gap: 1fr;
    }
}

.nav__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1;
    margin: 2px;
    border-radius: .3rem;
}

.item-vertical {
    writing-mode: vertical-rl; transform: rotate(.5turn);
}

/* C items */
.item-html { grid-area: var(--c-row2) / 3 / span 1 / span 3; border-radius: .3rem 2rem .3rem .3rem; }
.item-js { grid-area: var(--c-row4) / 2 / span 4 / span 1; }
.item-css { grid-area: var(--c-row2) / 2 / span 2 / span 1; border-radius: .3rem .3rem 2rem .3rem; }
.item-svg { grid-area: var(--c-row8) / 2 / span 1 / span 2; border-radius: .3rem .3rem .3rem 2rem; }
.item-a11y { grid-area: var(--c-row8) / 4 / span 1 / span 2; border-radius: .3rem .3rem 2rem .3rem; }

/* 1st S items */
.item-secrets { grid-area: var(--s1-row8) / var(--s1-column7) / span 1 / span 4; border-radius: .3rem .3rem 2rem 2rem; }
.item-practice { grid-area: var(--s1-row5) / var(--s1-column7) / span 1 / span 4; border-radius: .3rem 2rem .3rem 2rem; }
.item-tricks { grid-area: var(--s1-row2) / var(--s1-column7) / span 3 / span 1; border-radius: .3rem .3rem 2rem .3rem; }
.item-theory { grid-area: var(--s1-row2) / var(--s1-column8) / span 1 / span 3; border-radius: .3rem 2rem .3rem .3rem; }
.item-faq { grid-area: var(--s1-row6) / var(--s1-column10) / span 2 / span 1; }

/* 2nd S items */
.item-archive { grid-area: var(--s2-row3) / var(--s2-column12) / span 3 / span 1; border-radius: .3rem 2rem .3rem .3rem; }
.item-social { grid-area: var(--s2-row7)/ var(--s2-column12) / span 2 / span 4; background: none;}
.item-news { grid-area: var(--s2-row2) / var(--s2-column12) / span 1 / span 4; border-radius: 2rem 2rem .3rem .3rem; }
.item-about { grid-area: var(--s2-row5) / var(--s2-column13) / span 1 / span 3; border-radius: .3rem 2rem .3rem .3rem; }
.item-home { grid-area: var(--s2-row6) / var(--s2-column15) / span 1 / span 1; position: relative; }

.nav__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F26E21;
    background: #fff;
    padding: 0;
    border-radius: inherit;
}

.nav__link:hover, .nav__link:focus {
    outline: none;
    background: #1485CC;
    color: #fff;
    box-shadow: 0 0 2px rgba(255,255,255,.3);
}

.link-home::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: solid;
  border-width: 2px .5rem .5rem;
  bottom: .6rem;
  left: .8rem;
}

.link-home::after {
  content: '';
  position: absolute;
  border: solid;
  border-width: 0 1.4rem .8rem;
  border-color: transparent transparent currentcolor;
  bottom: 2.3rem;
  left: .4rem;
}

.social__list {
    list-style: none;
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    direction: rtl;
}

.social__list::before {
    content: '';
    grid-area: 1 / 2 / span 1 / span 3;
}

.social__item {
    margin: 2px;
    display: flex;
    border-radius: .3rem;
}

.social__item:nth-child(2) {
    border-radius: .3rem .3rem 2rem .3rem;
}

.social__item:nth-child(5) {
    border-radius: .3rem .3rem .3rem 2rem;
}

.social__link {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 1px;
    border-radius: inherit;
}

.social__link:hover, .social__link:focus {
    outline: none;
    background: #1485CC;
    box-shadow: 0 0 2px rgba(255,255,255,.3);
}

.social__img {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: inherit;
}


/*
      F O R M S
*/

.forms {
    flex: 1;
    right: 0;
}

@media (min-width: 32em) and (max-width: 49.99em) {
    .forms {
        display: flex;
        justify-content: center;
    }
}

.search {
    display: grid;
    margin: 0;
    grid: 0 4rem 2rem / 2rem 1fr 2rem;
    --input-col: 2;
    --input-w: 32rem;
    --input-fw: 32rem;
}

@media (min-width: 32em) {
    .search {
        grid: 0 4rem 2rem / 2rem 1fr 2px;
        --input-w: 7.6rem;
        --input-fw: 37.4rem;
    }
}

@media (min-width: 50em) {
    .search {
        position:relative;
        grid: 14rem 4rem 8rem / auto 1fr 2rem;
        --input-col: 1;
        --input-fw: 28rem;
    }
}

.field {
    box-sizing: border-box;
    background: #fff;
    color: #fff;
    height: 3.6rem;
    font: normal 1em / 3.6rem Lora, serif;
    margin: 2px;
    display: block;
    border: none;
    outline: none;
    transition: width .4s;
    cursor: pointer;
}

.field:focus {
    color: #000;
}

.search__field {
    grid-area: 2 / var(--input-col);
    width: var(--input-w);
    padding: 0 3.6rem 0 1rem;
    border-radius: 2rem;
}

@media (min-width: 32em) and (max-width: 49.99em) {
    .search__field {
        display: flex;
        border-radius: 2rem .3rem .3rem 2rem;
    }
}

.search__field:focus {
    width: var(--input-fw);
    transition: width .2s;
    outline: none;
    cursor: text;
}

.search__button {
    grid-area: 2 / var(--input-col);
    padding: 0;
    width: 3.6rem;
    background: transparent;
    color: #F26E21;
    border: none;
    transition: all .2s .1s;
    flex-shrink: 0;
    display: flex;
    position: relative;
    justify-self: end;
    pointer-events: none;
    opacity: 0;
}

.search__button::before {
    content: '';
    position: absolute;
    width: 40%;
    padding: 40% 0 0;
    border: .3rem solid;
    border-radius: 50%;
    top: 20%;
    right: 15%;
}

.search__button::after {
    content: '';
    position: absolute;
    width: 30%;
    border-top: .3rem solid;
    top: 45%;
    left: 5%;
    transform: rotate(-36deg);
    transform-origin: 160% 50%;
}

.search__field:focus ~ .search__button,
.search__button:focus {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

.search__label {
    grid-area: 2 / var(--input-col);
    position: relative;
    left: .8em;
    top: .8rem;
    font: 500 .8em/22px Montserrat, sans-serif;
    color: #F26E21;
    transition: all .2s;
    cursor: pointer;
    align-self: start;
    justify-self: start;
}

.search__label:hover,
.search__field:hover ~ .search__label {
    color: #1485CC;
}

.search__field:focus ~ .search__label {
    color: #fff;
    top: -2rem;
}

.decor {
    font-size: 7rem;
    line-height: 1;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 33rem;
    right: 1.5rem;
    bottom: 16.3rem;
    color: #fff;
    display: flex;
    flex-flow: column-reverse;
    width: 1em;
    justify-content: space-between;
    pointer-events: none;
}

.decor > span {
    transition: all .2s .1s;
    transform: rotate(-90deg);
}

.decor > span:first-child {
    margin-top: -.2em;
}

.decor > span:nth-child(3) {
    margin-bottom: -.2em;
}

@media (min-width: 32em) and (max-width: 49.99em) {
    .decor {
        font-size: 8rem;
        top: 14rem;
        right: 28rem;
        height: 16rem;
        transform: rotate(90deg);
    }
}

@media (min-width: 50em) {
    .decor {
        top: -2rem;
        bottom: 6rem;
        right: .4rem;
        font-size: 14rem;
    }

    .decor > span:first-child {
        display: none;
    }

    .search__field:focus ~ .decor > span:nth-child(2) {
        transform: translate(.8rem, .5rem) rotate(-80deg);
        transition: all .2s;
    }

    .search__field:focus ~ .decor > span:nth-child(3) {
        transform: translate(-1.6rem, -3.5rem) rotate(-125deg);
        transition: all .2s;
    }

    .search__field:focus ~ .decor > span:nth-child(4) {
        transform: translate(-8.5rem, 6rem) rotate(-179deg);
        transition: all .2s;
    }
}

.email {
    position: relative;
    float: right;
    margin-bottom: 2rem;
}

.email__text {
    --email-w: 32rem;
    --email-fw: 32rem;
    width: var(--email-w);
    margin: 2px 2rem 2px auto;
    padding: 0 3.6rem 0 1rem;
    border-radius: 2rem;
}

@media (min-width: 32em) and (max-width: 49.99em) {
    .email__text {
        --email-w: 15.6rem;
        --email-fw: 45rem;
        border-radius: .3rem 2rem 2rem .3rem;
    }
}

@media (min-width: 50em) {
    .email__text {
        --email-w: 15.6rem;
        --email-fw: 28rem;
        border-radius: 2rem .3rem;
    }
}

.email__text::-webkit-input-placeholder {
    color: #fff;
}

.email__text::placeholder {
    color: #fff;
}

.email__text:focus {
    width: var(--email-fw);
}

.email__text:focus::-webkit-input-placeholder {
    color: #888;
}

.email__text:focus::placeholder {
    color: #888;
}

.email__submit {
    position: absolute;
    right: 2.8rem;
    top: .8rem;
    width: 3rem;
    background: transparent;
    font: 500 .8em/22px Montserrat, sans-serif;
    color: #F26E21;
    border: none;
    transition: all .2s .1s;
    opacity: 0;
}

.email__text:focus ~ .email__submit {
    opacity: 1;
}

.email__label-part {
    position: absolute;
    left: .8em;
    font: 500 .8em/22px Montserrat, sans-serif;
    color: #F26E21;
    transition: all .2s;
    cursor: pointer;
}

.email-part1 {
  opacity: 0;
  color: #fff;
  top: -2rem;
}

.email__text:focus ~ .email__label > .email-part1 {
  opacity: 1;
}

.email-part0 {
  opacity: 1;
  top: .8rem;
}

.email__text:focus ~ .email__label > .email-part0 {
  opacity: 0;
}

.email-part0:hover,
.email__text:hover ~ .email__label > .email-part0 {
  color: #1485CC;
}

/*
      P O S T    D E T A I L S
*/


.post__meta {
    position: relative;
    line-height: 3rem;
    display: flex;
}

.meta__autor-photo {
    margin: -.6rem 2rem 0 -3rem;
}

.meta__photo {
    display: block;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;
}

.meta__date {
    display: block;
    font-style: italic;
}

.meta__tags-wrap {
    margin: 0 auto;
}

.meta__categories, .meta__tags {
    padding-left: 3rem;
    font-size: .8em;
}
.meta__categories {
    background: url(http://css-live.ru/wp-content/themes/happenstance/img/papka-1.svg) left 10px no-repeat;
}
.meta__tags {
    background: url(http://css-live.ru/wp-content/themes/happenstance/img/papka-2.svg) left 10px no-repeat;
}

.meta__comments {
    font-size: 1.6rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: .1rem 0 -9rem;
}

.meta__coment-link {
    font-size: 3rem;
    line-height: 4.3rem;
    background: none;
    margin: .7rem -1em 0 0;
    padding: 0 1em;
    border: 1px solid #F26E21;
    border-radius: 2rem;
    position: relative;
    background: #fff;
}

.meta__coment-link::before {
    content: '';
    border-width: 0 .9rem 1.5rem 0;
    border-color: transparent transparent #F26E21 transparent;
    border-style: solid;
    position: absolute;
    bottom: 100%;
    right: .6em;
}

.comments {
    margin-top: 6rem;
}

.comments-list {
    margin-top: 3rem;
    padding: 0;
}

.comments-list__item {
    list-style: none;
}

.comments-list__metas {
}

.comments-list__pic {
    width: 42px;
    height: 42px;
    margin: 0 2rem 0 -3rem;
    float: left;
    border-radius: 50%;
}

.comments-list__user-name {
    font: inherit;
    font-weight: 700;
    margin: 0;
    float: left;
    top: .1rem;
}

.comments-list__dates {
    text-align: right;
    font-style: italic;
    background: linear-gradient(#F26E21, #F26E21 1px, transparent 1px) repeat 0 -.7rem;
    margin: 0 0 3rem 3rem;
}

.comments-list__fields {
    float: left;
    margin-right: 4rem;
}

.comments-list__fields-btn {
    background: none;
    padding: 0 2rem;
    background: #f0f0f0;
    color: #1485CC;
    border: 1px dashed #ccc;
    font: inherit;
}

.comments .children {
    padding-left: 52px;
}

@media (min-width: 60em) {
    html {
        font-size: 62.5%;
    }

    .post {
        background: linear-gradient(to top, #f0f0ff 1px, transparent 1px) repeat 0 -.7rem;
        background-size: 100% 3rem;
    }

    .comments-list__content {
        padding: 0;
        margin: 0;
        background: linear-gradient(to top, #f0f0ff 1px, transparent 1px) repeat 0 -.7rem;
        background-size: 100% 3rem;
    }

    .social__img {
        transform: none;
    }
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}