/* MAIN PAGE */

.home {
    margin: 0 3rem;
    max-width: none;
}

.home .article {
    margin: 0 auto 6rem;
    max-width: 78rem;
}

@supports (grid-gap: 0) {
    .home main {
        display: contents;
    }

    @media (min-width: 56em) {
        .home {
            margin: 0;
            display: grid;
            grid: auto / repeat(auto-fit, minmax(23em, 1fr));
            align-items: baseline;
            grid-gap: 0 3em;
            padding: 0 3em;
        }
    }

    @media (min-width: 98em) {
        .home {
            margin: -21.6rem 0 0;
        }
        .home::before {
            content: '';
            grid-area: 1 / 1 / 2 / -1;
            margin-bottom: 21.6rem;
        }
    }
}

.section-title {
    margin: 0 3rem 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

@supports (grid-gap: 0) {
    @media (min-width: 56em) {
       .section-title {
            position: static;
            margin: 0 0 3rem 0;
            grid-area: 1 / 1 / 2 / -1;
            text-align: left;
       }
    }
    @media (min-width: 98em) {
       .section-title {
            grid-area: 2 / 1 / 3 / -1;
            padding-top: 3rem;
            border-top: 1px solid var(--theme-color);
       }
    }
}

.section-title--hidden {
    margin: 0;
}

.post-entry-headline {
    margin-top: 0;
}

.article__link, .article__read-more {
    background: none;
    color: #f26e21;
    color: var(--theme-color);
}

.article__read-more {
    display: flex;
    font: 500 1em/3rem Montserrat, sans-serif;
    align-items: baseline;
}

.article__read-more::before, .article__read-more::after {
    content: '';
    border-bottom: 1px solid #f26e21;
    border-color: var(--theme-color);
    flex: 1;
}
.article__read-more::before {
    margin-right: 1ex;
}
.article__read-more::after {
    margin-left: 1ex;
}

.article__link:hover, .article__link:focus,
.post__read-more:hover, .post__read-more:focus {
    color: #1485CC;
}

/* pagination */

.pagination {
    align-self: end;
    justify-self: center;
    grid-area: auto / -3 / auto / -1;
}

.pagination__list {
    margin: 0 calc(-2px - .3rem);
}

@media (min-width: 44em) {
    .pagination__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .pagination__item--next {
        order: 2;
    }
}

.pagination__item {
    display: inline-block;
}

.pagination__numbers {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.pagination__point {
    position: relative;
}

.pagination__disclose {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pagination__disclose::before {
    content: '•';
    font: 700 1em/calc(15rem + 20px), sans-serif;
    color: #1485CC;
    visibility: visible;
    transition: opacity .3s .3s;
}

.pagination__disclose:focus {
    visibility: hidden;
}

.pagination__point:hover > .pagination__disclose::before {
    visibility: hidden;
    opacity: 0;
}

.pagination__group {
    display: flex;
    flex-flow: column;
    transform: scale(.1, .02);
    transition: transform .2s .2s;
}

.pagination__group--current {
    flex-flow: row;
    transform: none;
}

.pagination__link {
    display: block;
    margin: 2px;
    padding: 0 .5rem;
    border-radius: .3rem;
    text-align: center;
    font: 500 1em/3rem Montserrat, sans-serif;
    background: none;
}

.pagination__link:hover {
    background: #1485CC;
    color: #fff;
}

.pagination__point:hover > .pagination__group,
.pagination__disclose:focus + .pagination__group {
    transform: none;
    transition-delay: 0s;
}
.pagination__group:focus-within {
    transform: none;
    transition-delay: 0s;
}

.pagination__link--current {
    color: #fff !important;
    background: #f26e21 !important;
    background: var(--theme-color) !important;
}

/* recent activity - news & comments */

.activity {
    padding: 1.5rem 0;
    border: solid #f26e21;
    border-color: var(--theme-color);
    border-width: 0;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
}

.activity--home {
    margin: 0 -3rem;
}

@supports (grid-gap: 0) {
    @media (min-width: 56em) and (max-width: 97.99em) {
        .activity--home {
            margin: 0 0 6rem;
            line-height: 3rem;
            grid-area: 2 / -2 / 3 / -1;
            border: 1px solid var(--theme-color);
        }
    }

    @media (min-width: 98em) {
        .activity--home {
            grid-area: 1 / 1 / 2 / -1;
            padding: 0;
            font-size: .75em;
            line-height: 2.25rem;
            border: 0;
        }
    }
}

.activity__section {
    overflow: hidden;
    flex: 1 0 21em;
    padding: 1.5rem 3rem;
}

@supports (grid-gap: 0) {
    @media (min-width: 98em) {
        .activity--home .activity__section::before {
            content: '';
            width: 45rem;
            height: 21rem;
            shape-outside: polygon(0 0, 100% 0, 97% 10%, 97% 53%, 93% 84%, 80% 100%, 21% 100%, 8% 81%, 3% 53%, 3% 7%);
            float: var(--side);
        }

        .activity__section--left {
            --side: right;
        }
        .activity__section--right {
            --side: left;
        }
    }
}

.activity__section h3 {
    font-size: 2rem;
    color: #666;
}

@supports (grid-gap: 0) {
    @media (min-width: 98em) {
        .activity__section h3 {
            margin: .5em 0 1rem;
        }

        .activity__section h3::before {
            content: '';
            display: block;
            overflow: hidden;
            border-top: 1px solid var(--theme-color);
            min-width: 22rem;
            padding-bottom: 1rem;
        }
    }
}

.news__item {
    padding-left: 10rem;
}

.news__date {
    float: left;
    line-height: inherit;
    width: 9.5rem;
    margin-left: -10rem;
}

.activity__section a {
    background: none;
}

.partnership {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: #666;
    padding: 3rem;
    border: solid #f26e21;
    border-color: var(--theme-color);
    border-width: 1px 0;
}

@supports (grid-gap: 0) {
    @media (min-width: 56em) {
        .partnership {
            border-width: 0;
        }

        .partnership--home {
            align-self: stretch;
            flex-flow: column;
            margin: 0 0 6rem;
            align-items: center;
            grid-area: 3 / 1 / 4 / 2;
            border-width: 1px;
        }
    }

    @media (min-width: 98em) {
        .partnership--home {
            grid-area: 3 / -2 / 4 / -1;
        }
    }
}

.partnership h3 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.donate {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.2rem;
}
